<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" href="#">
          <i class="nav-icon fa fa-dashboard fa-lg" style="font-size: 25px"></i> All Channel</a>
      </li>
      <li class="nav-title">Channel</li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="nav-icon fa fa-facebook-official fa-lg" style="font-size: 25px"></i> Facebook</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="nav-icon fa fa-google fa-lg" style="font-size: 25px"></i> Google</a>
      </li>
      <li class="nav-title">Tool Bar</li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="nav-icon fa fa-tags fa-lg" style="font-size: 25px"></i> Label</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="nav-icon fa fa-users fa-lg" style="font-size: 25px"></i> Channel Account</a>
      </li>
    </ul>
  </nav>
  <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>
